# --- Compiled class files and logs ---
*.class
*.log

# --- Crash logs ---
hs_err_pid*
replay_pid*

# --- Package files ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Build output ---
/target/
/build/
/out/
/dist/
/bin/

# --- Tomcat artifacts (si incluyes Tomcat dentro del proyecto) ---
/logs/
/work/
/temp/
/conf/
/webapps/**/WEB-INF/classes/
/webapps/**/WEB-INF/lib/
